{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static_url('slider.css') }}">
<style type="text/css">
    .tooltip.in {
        opacity: 1;
    }
</style>
{% end %}

{% block content %}
<section id="loader">
    Connecting ...
</section>

<section id="cockpit" style="display: none;">
    <div class="row">
        <div class="col-md-9">
            Passengers: <span id="passengers">0</span>
            Crew: <span id="crew">0</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/ddFvjfvPnqk?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-3">
            {% module Template("modules/map.html") %}
            <p class="text-center">
                <label for="wheel">Wheel</label><br/>
                <input id="wheel" />
            </p>
            <p class="text-center">
                <label for="power">Power</label><br/>
                <input id="power" />
            </p>
        </div>
    </div>
    <div id="modem" class="row">
        <div class="col-md-12">
            SINR:
            <div id="sinr" class="progress">
                <div class="progress-bar">NONE</div>
            </div>
        </div>
        <div class="col-md-12">
            RSRP:
            <div id="rsrp" class="progress">
                <div class="progress-bar">NONE</div>
            </div>
        </div>
        <div class="col-md-12">
            RSRQ:
            <div id="rsrq" class="progress">
                <div class="progress-bar">NONE</div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block js %}
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
<script type="text/javascript" src="{{ static_url('slider.js') }}"></script>
<script type="text/javascript" src="{{ static_url('cockpit.js') }}"></script>
{% end %}

